
Project/database_files/csv_files/new_taxdump/names.CSV
Project/database_files/csv_files/new_taxdump/rankedlineage.CSV
Project/database_files/csv_files/new_taxdump/rankedlineage_columns.txt
Project/database_files/csv_files/taxdump/division.csv
Project/database_files/csv_files/taxdump/names.csv
Project/database_files/csv_files/taxdump/nodes.csv
Project/database_files/csv_files/taxdump/readme.txt
